<div class="containerBackgImg">
    <div class="container mt-5">
        <div class="col-md-6 offset-md-3 shadowContour cardBorder">
            <div class="card cardBorder ">
                <div class="card-header headerLogin">
                    <h3 class="text-center text-uppercase"><i class="bi bi-box-arrow-in-right"></i> Inscription</h3>
                </div>
                <div class="card-block" style="padding: 25px;">
                    <form>
                        <fieldset>
                            <!-- Message d'erreur --
                                <div class="alert alert-danger">
                                    Votre Nom ou mots de passe incorrecte !
                                </div>
                                 Message de succes 
                                <div class="alert alert-success">
                                    Connecter avec Succès !
                                </div>  -->

                            <div class="row">
                                <!-- Login Controls -->
                                <div class="form-group mb-3 col-12 col-md-6">
                                    <label for="lName"> Votre nom</label>
                                    <input type="text" class="form-control" id="lName" name="lName"
                                        placeholder="Votre nom">
                                </div>
                                <div class="form-group mb-3 col-12 col-md-6">
                                    <label for="fName"> Prénom</label>
                                    <input type="text" class="form-control" id="fName" name="fName"
                                        placeholder="Prénom">
                                </div>
                            </div>

                            <div class="form-group mb-3 col-12 col-md-12">
                                <label for="email"><i class="bi bi-envelope"></i> Votre mail</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                            </div>

                            <div class="form-group mb-3 col-12 col-md-12">
                                <label for="txtPassword"><i class="bi bi-lock"></i> Mots de passe*</label>
                                <input type="password" class="form-control" id="txtPassword" name="txtPassword"
                                    placeholder="mots de passe">
                            </div>

                            <!-- Inscrire Button -->
                            <div class="form-actions">
                                <button type="submit" class="btn btnInscrire">S'inscrire</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>

            <div>
            </div>

        </div>
        <div class="col-md-6 offset-md-3 text-center mt-4 txtDescriptionInscription">
            <p>
                On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum
                sur un texte générique comme 'Du texte. Du texte. Du texte.' est
            </p>
        </div>