<!-- ------------------- Mon Navbar ------------------------
----------------------------------------------------------
--------------------------------------------------------->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container">
    <a href="#" class="navbar-brand">Logo</a>
    <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link text-white">Accueill</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">Régions</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">Pays</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/profil2.jpeg" class="rounded-circle" height="30" width="30" alt="" loading="lazy" />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Mon profile</a></li>
            <li><a class="dropdown-item" href="#">Paramètre</a></li>
            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ------------------- Banner Image ---------------------
----------------------------------------------------------
--------------------------------------------------------->
<div class="banner-image W-100 vh-100 d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <!--form class="form-inline my-2 my-lg-0 d-flex">
      <input class="form-control mr-sm-2 col-md Inputsearch" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btnRechercher my-2 my-sm-0" type="submit">Rechercher</button>
    </form-->
    <h1 class=" display-1 text-white">Bienvenue </h1>
    <p class="psousTitre">Sur Mali Tourist !</p>
    <p class="text-white">
      Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer
      une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est
      achevée. Généralement, on utilise
    </p>

  </div>
</div>

<!-- ---------------- Contenu Principale -----------------
----------------------------------------------------------
--------------------------------------------------------->

<div class="container my-5 d-grid gap-5">
  <div class="p-5 border">
    <p>
      sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer
      le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux
      latin, le Lorem ipsum ou Lipsum
    </p>
  </div>
  <div class="p-5 border">
    <p>
      sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer
      le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux
      latin, le Lorem ipsum ou Lipsum
    </p>
  </div>
</div>

<!-- ---------------- Script pour le Navbar  Scroll  à voir dans le component.ts  -----------------
---------------------------------------------------------------------
-------------------------------------------------------------------->