<!-- ------------------- Mon Navbar ------------------------
----------------------------------------------------------
--------------------------------------------------------->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container">
    <a href="#" class="navbar-brand"><img src="../../assets/logo MaliTourist1.png" alt="logo MaliTourist"
        class="logo"></a>
    <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link text-white" routerLink="/accueil" routerLinkActive="accueil">Accueil</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white" routerLink="/regions">Régions</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">Pays</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/profil2.jpeg" class="rounded-circle" height="30" width="30" alt="" loading="lazy" />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <li><a class="dropdown-item" href="#">Mon profile</a></li>
            <li><a class="dropdown-item" href="#">Paramètre</a></li>
            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ------------------- Banner Image ---------------------
----------------------------------------------------------
--------------------------------------------------------->
<div class="banner-image im-fluid W-100 vh-100 d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class=" display-1 text-white">Bienvenue </h1>
    <p class="psousTitre">Sur Mali <span class="tourist"> Tourist </span> !</p>
    <p class="text-white">
      Une plateforme pour visiter, s'évader ou explorer les grands lieux touristiques du Mali pour mieux connaître le
      Pays.<br> Cela vous donnera envie de faire le tour du pays.
    </p>

  </div>
</div>

<!-- ---------------- Contenu Principale -----------------
----------------------------------------------------------
--------------------------------------------------------->

<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6">
      <h2 class="titreMali">Le Mali en générale</h2>
      <p>
        Avec une superficie de 1,241 million de km², le Mali est grand comme deux fois la France. Sa capitale est Bamako
        qui regroupe plus d’un million de personnes. Le pays a des frontières avec pas moins de 7 pays : Burkina Faso,
        Côte d’Ivoire, Guinée, Sénégal, Mauritanie, Niger et Algérie.
      </p>
      <h2 class="titreMali">Composition de la population </h2>
      <p>
        La population malienne, forte de près de 12 millions d’habitants, est composée de plusieurs ethnies qui ont tour
        à tour régné sur le pays : les plus nombreux sont les Bambaras (environ 3 millions), ce qui explique que la
        langue la plus parlée au Mali soit le bambara.

        Les Malinkés, les Soninkés et les Peuls forment les autres ethnies importantes du Mali. Les autres peuplades
        présentes sont : les Sénoufos, les Bozos, les Bobos, les Dogons (qui ne représentent que 3 % de la population),
        les Songhais, les Touaregs et les Maures. Enfin, il existe une colonie libanaise au Mali, qui détient une grande
        partie des commerces, en particulier à Bamako.
        Le Mali est un pays laïc où 90 % de la population est musulmane. La population est essentiellement rurale.
      </p>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <img src="../../assets/Carte-du-Mali.jpg" alt="carte du Mali" class="img-thumbnail">
    </div>
  </div>

</div>

<!-- ---------------- Script pour le Navbar  Scroll  à voir dans le component.ts  -----------------
---------------------------------------------------------------------
-------------------------------------------------------------------->


<!-- ---------------- Les 04 régions récements ajouter  -----------------
---------------------------------------------------------------------
-------------------------------------------------------------------->
<div class="container-fluid  pb-4 bgcolorRegion">
  <div class="container py-3">
    <h2 class="text-center p-2 mb-3 bgTitreRegion">Les 04 Régions récements ajoutées</h2>
    <hr>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3">
          <img src="../../assets/region-Ségou.jpg" alt="Image Ségou" class="card-img-top">
          <div class="card-body">
            <h2 class="h3 card-title ">Région Ségou</h2>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae qui doloribus
              nemo magni temporibus odit?</p>
            <button class="btn btnVoirPlus">Voir plus</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3">
          <img src="../../assets/region-Koutiala.jpg" alt="Image Koutiala" class="card-img-top">
          <div class="card-body">
            <h2 class="h3 card-title ">Région Koutiala</h2>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae qui doloribus
              nemo magni temporibus odit?</p>
            <button class="btn btnVoirPlus">Voir plus</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3">
          <img src="../../assets/region-Mopti.jpg" alt="Image Mopti" class="card-img-top">
          <div class="card-body">
            <h2 class="h3 card-title ">Région Mopti</h2>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae qui doloribus
              nemo magni temporibus odit?</p>
            <button class="btn btnVoirPlus">Voir plus</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3">
          <img src="../../assets/region-Gao.jpg" alt="Image Gao" class="card-img-top">
          <div class="card-body">
            <h2 class="h3 card-title ">Région Gao</h2>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae qui doloribus
              nemo magni temporibus odit?</p>
            <button class="btn btnVoirPlus">Voir plus</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- ---------------- Footer ---------------------------------------
    ---------------------------------------------------------------------
    -------------------------------------------------------------------->

    <footer class="footer bg-footer footer-bar">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

      <div class="container text-center">
              <p>&copy; 2022 MaliTourist - Tous drois reservé<br>
                 Voyage - Tourisme - Evasion - Aventure
              </p>

          <div class="row align-items-center">
              <div class="col-sm-6">
                  <div class="text-sm-left">
                      <p class="mb-0">&copy; Jeremi KOLOMA <i class="mdi mdi-heart text-danger"></i></p>
                  </div>
              </div>
  
              <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                  <ul class="list-unstyled text-sm-right social-icon social mb-0">
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>