<div class="containerBackgImg">
    <div class="container">
        <div class="col-md-6 offset-md-3 shadowContour cardBorder">
            <div class="card cardBorder ">
                <div class="card-header headerLogin">
                    <h3 class="text-center text-uppercase bolLogin"><i class="bi bi-box-arrow-in-right"></i> Connexion
                    </h3>
                </div>
                <div class="card-block" style="padding: 25px;">
                    <form [formGroup]="loginForm" name="form" #f="ngForm" (ngSubmit)="onSubmit()">
                        <fieldset>
                            <!-- ------------------- UserName ------------------------
                                ------------------------------------------------------
                            -->
                            <div class="form-group mb-3 col-12 col-md-12">
                                <label for="userName"> Nom d'utilisateur</label>
                                <input formControlName="userName"
                                    [ngClass]="{'is-invalid' : submitted && loginForm.controls['userName'].errors}"
                                    type="text" class="form-control" id="userName" name="userName"
                                    placeholder="Votre nom" [(ngModel)]="form.username" #username>
                                <div *ngIf="submitted && loginForm.controls['userName'].errors" class="text-danger">
                                    <div *ngIf="submitted && loginForm.controls['userName'].errors['required']">
                                        Veillez remplir ce champs !
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------- Password ------------------------
                                ------------------------------------------------------
                            -->
                            <div class="form-group mb-3 col-12 col-md-12">
                                <label for="password"><i class="bi bi-lock"></i> Mots de passe*</label>
                                <input formControlName="password"
                                    [ngClass]="{'is-invalid' : submitted && loginForm.controls['password'].errors}"
                                    type="password" class="form-control" id="password" name="password"
                                    placeholder="mots de passe" [(ngModel)]="form.password" #password>
                                <div *ngIf="submitted && loginForm.controls['password'].errors" class="text-danger">
                                    <div *ngIf="submitted && loginForm.controls['password'].errors['required']">
                                        Veillez remplir ce champs !
                                    </div>
                                    <div *ngIf="submitted && loginForm.controls['password'].errors['minlength']">
                                        Au 8 caractères minimuim !
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------- Boutton se Loger ------------------------
                                ------------------------------------------------------
                            -->
                            <div class="form-actions mb-2">
                                <button type="submit" class="btn btnInscrire">Se connecter</button>
                            </div>
                            <p class="pNoAccount">Vous n’avez pas de compte ?</p>
                        </fieldset>
                    </form>

                </div>
            </div>

            <div>
            </div>

        </div>
        <div class="col-md-6 offset-md-3 text-center mt-4 txtDescriptionInscription">
            <p>
                On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum
                sur un texte générique comme 'Du texte. Du texte. Du texte.' est
            </p>
        </div>