<div class="bgAllRegion mb-6">
    <!-- ------------------- Mon Navbar ------------------------
----------------------------------------------------------
--------------------------------------------------------->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
            <a href="#" class="navbar-brand"><img src="../../assets/logo MaliTourist1.png" alt="logo MaliTourist"
                    class="logo"></a>
            <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Accueill</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Régions</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Pays</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                            id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../assets/profil2.jpeg" class="rounded-circle" height="30" width="30" alt=""
                                loading="lazy" />
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Mon profile</a></li>
                            <li><a class="dropdown-item" href="#">Paramètre</a></li>
                            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <!-- ------------------- Fin Mon Navbar ------------------------
----------------------------------------------------------
--------------------------------------------------------->

    <div class="container-fluid text-white">
        <div class="container content">

         <!-- ------------------- Boutton Recherche ------------------------
----------------------------------------------------------
--------------------------------------------------------->

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
                integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
                crossorigin="anonymous">
            <div class="container">
                <br />
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <form class="card card-sm">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div>
                                <!--end of col-->
                                <div class="col">
                                    <input class="form-control form-control-lg form-control-borderless" type="search"
                                        placeholder="Rechercher une Région ici...">
                                </div>
                                <!--end of col-->
                                <div class="col-auto">
                                    <button class="btn btn-lg btnRechercher" type="submit">Rechercher</button>
                                </div>
                                <!--end of col-->
                            </div>
                        </form>
                    </div>
                    <!--end of col-->
                </div>
            </div>
         <!-- ------------------- Fin Boutton Recheche------------------------
----------------------------------------------------------
--------------------------------------------------------->

            <div class="region my-4">
                <h2 class="text-center mt-4">Les Régions du Mali</h2>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aut unde eaque,
                    soluta impedit exercitationem sit labore aspernatur cumque, omnis similique incidunt eum asperiores
                    doloribus illum quasi perferendis provident ad.</p>
                <div class="row mt-5">
                    <div class="col-12 col-md-6">
                        <div class="boderCard mb-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-5 bgGaucheCard">
                                    <div class="p-3">
                                        <h2 class="h3 bgRegionName text-center text-uppercase ">Koutiala</h2>
                                        <p>Code Région : KTL</p>
                                        <hr>
                                        <p>Domaine : Agriculture</p>
                                        <hr>
                                        <p>Superficie : 384 Km2</p>
                                        <hr>
                                        <p>Population : 384 hbts</p>
                                        <hr>
                                        <p>Langues : Minianka </p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-7">
                                    <img src="../../assets/region-Koutiala.jpg" alt="Image Mopti"
                                        class="w-100 h-100 imgCardDroit">

                                    <div class="flagMali">
                                        <img src="../../assets/mali.png" alt="flag" class="imgDroit">
                                    </div>
                                    <div class="numberHabits">
                                        <p>384<span class="htps">/hbts</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="boderCard mb-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-5 bgGaucheCard">
                                    <div class="p-3">
                                        <h2 class="h3 bgRegionName text-center text-uppercase ">Ségou</h2>
                                        <p>Code Région : MPT</p>
                                        <hr>
                                        <p>Domaine : Elévage</p>
                                        <hr>
                                        <p>Superficie : 78O Km2</p>
                                        <hr>
                                        <p>Population : 784 hbts</p>
                                        <hr>
                                        <p>Langues : Bambara </p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-7">
                                    <img src="../../assets/region-Ségou.jpg" alt="Image Mopti" class="w-100 h-100">
                                    <div class="flagMali">
                                        <img src="../../assets/mali.png" alt="flag">
                                    </div>
                                    <div class="numberHabits">
                                        <p>784<span class="htps">/hbts</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row my-3">
                    <div class="col-12 col-md-6">
                        <div class="boderCard mb-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-5 bgGaucheCard">
                                    <div class="p-3">
                                        <h2 class="h3 bgRegionName text-center text-uppercase ">Mopti</h2>
                                        <p>Code Région : KTL</p>
                                        <hr>
                                        <p>Domaine : Agriculture</p>
                                        <hr>
                                        <p>Superficie : 384 Km2</p>
                                        <hr>
                                        <p>Population : 384 hbts</p>
                                        <hr>
                                        <p>Langues : Minianka </p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-7">
                                    <img src="../../assets/region-Mopti.jpg" alt="Image Mopti" class="w-100 h-100">
                                    <div class="flagMali">
                                        <img src="../../assets/mali.png" alt="flag">
                                    </div>
                                    <div class="numberHabits">
                                        <p>384<span class="htps">/hbts</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="boderCard mb-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-5 bgGaucheCard">
                                    <div class="p-3">
                                        <h2 class="h3 bgRegionName text-center text-uppercase ">Gao</h2>
                                        <p>Code Région : MPT</p>
                                        <hr>
                                        <p>Domaine : Elévage</p>
                                        <hr>
                                        <p>Superficie : 78O Km2</p>
                                        <hr>
                                        <p>Population : 784 hbts</p>
                                        <hr>
                                        <p>Langues : Bambara </p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-7">
                                    <img src="../../assets/region-Gao.jpg" alt="Image Mopti"
                                        class="w-100 h-100 bgImage">
                                    <div class="flagMali">
                                        <img src="../../assets/mali.png" alt="flag">
                                    </div>
                                    <div class="numberHabits">
                                        <p>784<span class="htps">/hbts</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------- Footer ---------------------------------------
    ---------------------------------------------------------------------
    -------------------------------------------------------------------->

    <footer class="footer bg-footer footer-bar">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

        <div class="container text-center">
                <p>&copy; 2022 MaliTourist - Tous drois reservé<br>
                   Voyage - Tourisme - Evasion - Aventure
                </p>

            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="text-sm-left">
                        <p class="mb-0">&copy; Jeremi KOLOMA <i class="mdi mdi-heart text-danger"></i></p>
                    </div>
                </div>
    
                <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <ul class="list-unstyled text-sm-right social-icon social mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>