<div class="bgAllAdmin banner-image mb-6">
    <!-- ------------------- Mon Navbar ------------------------
----------------------------------------------------------
--------------------------------------------------------->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
            <a href="#" class="navbar-brand"><img src="../../assets/logo MaliTourist1.png" alt="logo MaliTourist"
                    class="logo"></a>
            <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Accueill</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Régions</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Pays</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                            id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../assets/profil2.jpeg" class="rounded-circle" height="30" width="30" alt=""
                                loading="lazy" />
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Mon profile</a></li>
                            <li><a class="dropdown-item" href="#">Paramètre</a></li>
                            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ------------------- Fin Mon Navbar ------------------------
----------------------------------------------------------
--------------------------------------------------------->



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container content mb-5">
        <div class="col-12 offset-md-2 col-md-8">
            <div class="titleDashboard">
                <p class="p-3 fw-bold fs-3 text-white">Bienvenue : ADMIN !</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="card-box bg-orange">
                        <div class="inner">
                            <h3> 100 </h3>
                            <p> Régions </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="card-box-footer">Voir Plus <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="card-box bg-red">
                        <div class="inner">
                            <h3> 723 </h3>
                            <p> Utilisateurs </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a href="#" class="card-box-footer">Voir Plus <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="card-box bg-blue">
                        <div class="inner">
                            <h3> 13436 </h3>
                            <p> Commentaires</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="card-box-footer">Voir Plus <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
    
                <div class="col-md-6 col-sm-6">
                    <div class="card-box bg-green">
                        <div class="inner">
                            <h3>80 </h3>
                            <p> Pays </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="card-box-footer">Voir Plus <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <!-- ---------------- Footer ---------------------------------------
    ---------------------------------------------------------------------
    -------------------------------------------------------------------->

    <footer class="footer bg-footer footer-bar">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

        <div class="container text-center">
                <p>&copy; 2022 MaliTourist - Tous drois reservé<br>
                   Voyage - Tourisme - Evasion - Aventure
                </p>

            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="text-sm-left">
                        <p class="mb-0">&copy; Jeremi KOLOMA <i class="mdi mdi-heart text-danger"></i></p>
                    </div>
                </div>
    
                <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <ul class="list-unstyled text-sm-right social-icon social mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>





</div>